*{
  margin:0;
  padding:0;
}
:root{
  --bg:#0d0c22;
  --bgSoft:#292557;
  --text:white;
  --textSoft:#e5e5e5;
  --btn:#3673fd;
  --lighttext:"#e5e5e5"
}

body[theme='dark']{
  background-color: var(--bg);
  color: var(--text);
  transition: all ease-in-out 0.5s;
  border-color: white;
}
body[theme='light']{
  background-color: var(--text);
  color: var(--bg);
  transition: all ease-in-out 0.5s;
  border-color: black;
}
a{
  text-decoration: none;
  color:inherit;
}